{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %} 

<h1 align="center">AETR Rules</h1>
<br>


<h5 align="center">Driving Hours</h5>
<br>

<ul style="list-style-type:circle">
    <li>Musn't drive more than 9 hours in a day</li>
    <ul style="list-style-type:circle">
        <li>Can extend this to 10 hours twice a week</li>
    </ul>
    <li>Musn't drive more than 56 hours in a week</li>
    <li>Musn't drive more than 90 hours in any 2 consecutive weeks</li>
</ul>
<p>Must record all driving you do under EU rules on a tachograph </p>
<br>

<h5 align="center">Breaks and Rest</h5>
<br>

<ul style="list-style-type:circle">
    <li>Must have at least 11 hours rest every day</li>
    <ul style="list-style-type:circle">
        <li>Can reduce this to 9 hours rest 3 times between any 2 weekly rest periods</li>
    </ul>
    <li>Must take an unbroken rest period of 45 hours every week</li>
    <ul style="list-style-type:circle">
        <li>Can reduce this to 24 hours every other week</li>
    </ul>
    <li>Must take a break or breaks totalling at least 45 minutes after no more than 4 hours 30 minutes driving</li>
    <li>Must take a weekly rest 6 consecutive 24-hour periods of working, starting from the end of the last weekly rest period taken</li>
</ul>    




{% endblock %}